:root {
    --GrayishBlue: hsl(229, 8%, 60%);
    --VeryDarkBlue: hsl(229, 31%, 21%);
    --SoftBlue: hsl(231, 69%, 60%);
    --SoftRed: hsl(0, 94%, 66%);
    --White: hsl(0, 0%, 100%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 100%;
    overflow: hidden;
}

.main-header {
    display: flex;
    align-items: center;justify-content: space-between;
    padding: 4rem  12rem;
    position: relative;
}

.main-header .open-close-nav{
    display: none;
    position: absolute;
    right: 3rem;
    top: 2.3rem;
}

.main-header .brand-logo img {
    width: 14rem;
}

.nav-links  {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: center;
}

.nav-links .nav-header-m {
    display: none;
}

.nav-links .nav-link {
    list-style-type: none;
    
}

.nav-links .nav-link a {
    text-decoration: none;
    color: var(--VeryDarkBlue);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
    transition: all .2s;
}

.nav-links .nav-link a:hover {
    color: var(--SoftRed)
}

.nav-links .social-icons {
    display: none;
}

.nav-link:last-of-type a{
    background-color: var(--SoftRed);
    padding: .8rem 2.6rem;
    border-radius: .4rem;
    color: var(--White);
    border: 2px solid var(--SoftRed);
    transition: all .4s
}

.nav-link:last-of-type a:hover {
    background: none;
    color: var(--SoftRed);
}

@media screen and (max-width: 768px) {
    .main-header {
        padding: 2rem 3.5rem;
    }
    
    .main-header .open-close-nav {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        gap: 0;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        background: hsla(229, 31%, 21%, .9);
        color: white;
        height: 70rem;
        min-height: 100vh;
        padding: 2rem 3.5rem;
    }

    .nav-links.active {
        display: flex;
        z-index: 1;
    }

    .nav-links .nav-header-m {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 2rem;
        border-bottom: 1px solid hsla(229, 8%, 60%, .4);
    }


    .nav-links  .nav-link  {
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
        border-bottom: 1px solid hsla(229, 8%, 60%, .4);
        margin-top: 2rem;
        letter-spacing: .3rem;
    }

    .nav-links .nav-link a {
        color: var(--White);
        width: 100%;
    }

    .nav-links .nav-link:last-of-type a {
        background: none;
        border: none;
    }

    .nav-links .nav-link:last-of-type {
        border-bottom: none;
        margin-top: 3rem;
        border: 2px solid var(--White);
        border-radius: .5rem;
        padding: 1.2rem 
    }

    .nav-links .social-icons {
        display: flex;
        gap: 5rem;
        align-items: center;
        position: absolute;
        bottom: 5rem;
    } 
}

@media screen and (max-width: 375px) {
    .main-header .open-close-nav {
        display: block;
        width: 1.5rem;
    }

    .main-header .brand-logo img {
        width: 12rem
    }   

    .nav-links .nav-header-m svg {
        transform: scale(.8) translateX(-10%);
    }

}

/* Main-Section */
.main-section {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 12rem;
    margin: 7rem 0;
    position: relative;
}

.main-section .content h1 {
    font-size: 4rem;
    width: 80%;
    font-weight: 500;
}

.main-section .content p {
    font-size: 1.6rem;
    margin: 2.5rem 0;
    color: var(--GrayishBlue);
    width:75%;
    line-height: 2.7rem;
}

.main-section .content button {
    padding: 1rem 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .3s;
}

.main-section .content button:first-of-type {
    border: 1.5px solid var(--SoftBlue);
    background-color: var(--SoftBlue);
    color: var(--White);
    margin-right: 2rem;
    box-shadow: 2px 2px 4px 0 var(--GrayishBlue);
}

.main-section .content button:last-of-type {
    border: 1.5px solid var(--White);
    background-color: var(--White);
    box-shadow: 2px 2px 4px 0 var(--GrayishBlue); 
}

.main-section .content button:first-of-type:hover {
    background-color:var(--White) ;
    color: var(--SoftBlue);
}

.main-section .content button:last-of-type:hover {
    border-color: #000;
}

.main-section .illustration {
    position: relative;
    margin-bottom: 5rem;
}

.main-section .illustration .illustration-bg-right {
    position: absolute;
    width: 90%;
    transform: translateX(45%);
    min-width: 45rem;
    height:80%;
    border-radius: 0 0 0 35%;
    background-color: var(--SoftBlue);
    bottom: 0;
    right: 0;
    z-index: -1;
}

.main-section .illustration img {
    width: 100%
}

@media screen and (max-width: 858px) {
    .main-section .content h1 {
        font-size: 3.5rem;
    }
    
    .main-section .content p {
        font-size: 1.4rem;
        margin: 2.3rem 0;
        line-height: 2.4rem;
    }
    
    .main-section .content button {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .main-section {
        flex-direction: column-reverse;
        align-items: center;justify-content: center;
        padding: 2rem;
    }    

    .main-section .content {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .main-section .content h1 {
        width: 90%;
        font-size: 3rem;
    }

    .main-section .content p { 
        width: 90%;
    }
}

@media screen and (max-width: 375px) {
    .main-section .content h1 {
        width: 90%;
        font-size: 2.4rem;
    } 

    .main-section .illustration .illustration-bg-right {
        position: absolute;
        min-width: 350px;
    }
}



.features-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 12rem;
}

.features-section .features-header {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-section .features-header h1{
    font-size: 2.4rem;
    width: 100%;
    font-weight: 500;
    text-align: center;
}

.features-section .features-header p{
    font-size: 1.4rem;
    margin: 2rem 0;
    line-height: 2.3rem;
    width: 90%;
    max-width: 40rem;
    color: var(--GrayishBlue);
    font-weight:400;
}

.features-section .features-nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid hsla(229, 8%, 60%, .3);
}

.features-section .features-nav li {
    list-style-type: none;
    font-size: 1.3rem;
    color: var(--GrayishBlue);
    padding: 0 2.5rem;
    padding-bottom: 2rem;       
    cursor: pointer;
}

.features-section .features-nav li.active {
    color: #000;
    border-bottom: 3px solid var(--SoftRed);
}

.features-section .features-body {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7rem 0;
    gap: 7rem;
    position: relative;
}

.features-section .features-body .illustration {
    position: relative;
    flex: 1.1;
    margin-bottom: 5rem;
}

.features-section .features-body .illustration img {
    height: 30rem;
}

.features-section .features-body .illustration .illustration-bg-left {
    position: absolute;
    width: 90%;
    transform: translate(-45%, 30%);
    min-width: 45rem;
    height:90%;
    border-radius: 0 0 35% 0;
    background-color: var(--SoftBlue);
    bottom: 0;
    left: 0;
    z-index: -1;
}


.features-section .features-body .illustration img#feature-illustration {
    width: 100%;
    min-width: 32rem;
}

.features-section .features-body .content {
    flex: 1;
}

.features-section .features-body .content h1 {
    font-size: 2.4rem;
    width: 80%;
    font-weight: 500;
}

.features-section .features-body .content p {
    font-size: 1.6rem;
    margin: 2.5rem 0;
    color: var(--GrayishBlue);
    width:85%;
    line-height: 2.7rem;
}

.features-section .features-body .content button {
    padding: 1rem 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .3s;
}

.features-section .features-body .content button {
    border: 1.5px solid var(--SoftBlue);
    background-color: var(--SoftBlue);
    color: var(--White);
    margin-right: 2rem;
    box-shadow: 2px 2px 4px 0 var(--GrayishBlue);
}

.features-section .features-body .content button:hover {
    background-color:var(--White) ;
    color: var(--SoftBlue);
}

@media screen and (max-width: 858px) {
    .features-section .features-body .content h1 {
        font-size: 3.5rem;
    }
    
    .features-section .features-body .content p {
        font-size: 1.4rem;
        margin: 2.3rem 0;
        line-height: 2.4rem;
    }
    
    .features-section .features-body .content button {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .features-section .features-header {
        width: 100%;
    }

    .features-section {
        padding: 2rem 3.5rem;
    }

    .features-section .features-header h1 {
        font-size: 2.4rem;
        width: 100%;
        font-weight: 500;
        text-align: center;
    }

    .features-section .features-header p {
        font-size: 1.4rem;
        margin: 2rem 0;
        line-height: 2.3rem;
        width: 90%;
        max-width: 400rem;
        color: var(--GrayishBlue);
        font-weight:400;
        
    }
    .features-section .features-body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        margin: 0;
    }    

    .features-section .features-body .content {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .features-section .features-body .content h1 {
        width: 90%;
        font-size: 3rem;
    }

    .features-section .features-body .content p { 
        width: 90%;
    }
}

@media screen and (max-width: 468px) {
    .features-section .features-nav {
        flex-direction: column;
        border-bottom: 0 solid;
        gap: 1.5rem;
        width: 100%;
        text-align: center;
    }

    .features-section .features-nav li:first-of-type {
        border-top: 1px solid hsla(229, 8%, 60%, .3);
        padding-top: 1.5rem;
    }

    .features-section .features-nav li {
        width: 100%;
        flex-direction: column;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid hsla(229, 8%, 60%, .6);
    }

    .features-section .features-body .illustration img {
        height: 26rem;
    }
    
}

@media screen and (max-width: 375px) {
    .features-section .features-body .content h1 {
        width: 90%;
        font-size: 2.4rem;
    } 

    .features-section .features-body .illustration .illustration-bg-left {
        position: absolute;
        min-width: 200px;
    }
}

.download-extension {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}

.download-extension .header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-extension .header h1 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.download-extension .header p {
    font-size: 1.4rem;
    color: var(--GrayishBlue);
    line-height: 2.3rem;
    width: 70%;
}

.download-extension .downloads {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    margin-bottom: 5rem;
    width: 100%;
}

.downloads .download-card { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 30rem;
    box-shadow: 2px 2px 6px hsla(229, 8%, 60%, .3);
    padding : 2rem;
    border-radius: .5rem;
    text-align: center;
    background-image: url('./images/bg-dots.svg');
    background-repeat: no-repeat;
    background-position:  78% 78%;
}

.downloads .download-card img {
    width: 40%;
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.downloads .download-card h3 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

.downloads .download-card p {
    color: var(--GrayishBlue);
    font-size: 1.4rem;
    margin-bottom: 5.6rem;
}

.downloads .download-card button {
    width: 100%;
    text-align: center;
    background-color: var(--SoftBlue);
    color: var(--White);
    font-size: 1.4rem;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: .5rem;
    border:2px solid var(--SoftBlue);
    transition: .2s;
    cursor: pointer;
}

.downloads .download-card button:hover {
    background: none;
    color: var(--SoftBlue);
}

.downloads .download-card:nth-child(2) {
    margin-top: 8rem;
}

.downloads .download-card:nth-child(3) {
    margin-top: 16rem;
}

@media screen and (max-width: 998px) {
    .downloads .download-card:nth-child(2), .downloads .download-card:nth-child(3) {
        margin-top: 0;
    }

    .downloads {
        margin-top: 4rem;
    }
}
