:root {
    --GrayishBlue: hsl(229, 8%, 60%);
    --VeryDarkBlue: hsl(229, 31%, 21%);
    --SoftBlue: hsl(231, 69%, 60%);
    --SoftRed: hsl(0, 94%, 66%);
    --White: hsl(0, 0%, 100%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 100vw;
    overflow: hidden;
}

.main-header {
    display: flex;
    align-items: center;justify-content: space-between;
    padding: 2rem  8rem;
    position: relative;
}

.main-header .open-close-nav{
    display: none;
    position: absolute;
    right: 3rem;
    top: 2.3rem;
}

.main-header .brand-logo img {
    width: 14rem;
}

.nav-links  {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: center;
}

.nav-links .nav-header-m {
    display: none;
}

.nav-links .nav-link {
    list-style-type: none;
    
}

.nav-links .nav-link a {
    text-decoration: none;
    color: var(--VeryDarkBlue);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
    transition: all .2s;
}

.nav-links .nav-link a:hover {
    color: var(--SoftRed)
}

.nav-links .social-icons {
    display: none;
}

.nav-link:last-of-type a{
    background-color: var(--SoftRed);
    padding: .8rem 2.6rem;
    border-radius: .4rem;
    color: var(--White);
    border: 2px solid var(--SoftRed);
    transition: all .4s
}

.nav-link:last-of-type a:hover {
    background: none;
    color: var(--SoftRed);
}

@media screen and (max-width: 768px) {
    .main-header {
        padding: 2rem 3.5rem;
    }
    
    .main-header .open-close-nav {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        gap: 0;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        background: hsla(229, 31%, 21%, .9);
        color: white;
        height: 70rem;
        min-height: 100vh;
        padding: 2rem 3.5rem;
    }

    .nav-links.active {
        display: flex;
        z-index: 1;
    }

    .nav-links .nav-header-m {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 2rem;
        border-bottom: 1px solid hsla(229, 8%, 60%, .4);
    }


    .nav-links  .nav-link  {
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
        border-bottom: 1px solid hsla(229, 8%, 60%, .4);
        margin-top: 2rem;
        letter-spacing: .3rem;
    }

    .nav-links .nav-link a {
        color: var(--White);
        width: 100%;
    }

    .nav-links .nav-link:last-of-type a {
        background: none;
        border: none;
    }

    .nav-links .nav-link:last-of-type {
        border-bottom: none;
        margin-top: 3rem;
        border: 2px solid var(--White);
        border-radius: .5rem;
        padding: 1.2rem 
    }

    .nav-links .social-icons {
        display: flex;
        gap: 5rem;
        align-items: center;
        position: absolute;
        bottom: 5rem;
    } 
}

@media screen and (max-width: 375px) {
    .main-header .open-close-nav {
        display: block;
        width: 1.5rem;
    }

    .main-header .brand-logo img {
        width: 12rem
    }   

    .nav-links .nav-header-m svg {
        transform: scale(.8) translateX(-10%);
    }

}

/* Main-Section */
.main-section {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    margin: 7rem 0;
    position: relative;
}

.main-section .content h1 {
    font-size: 4rem;
    width: 80%;
    font-weight: 500;
}

.main-section .content p {
    font-size: 1.6rem;
    margin: 2.5rem 0;
    color: var(--GrayishBlue);
    width:75%;
    line-height: 2.7rem;
}

.main-section .content button {
    padding: 1rem 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .3s;
}

.main-section .content button:first-of-type {
    border: 1.5px solid var(--SoftBlue);
    background-color: var(--SoftBlue);
    color: var(--White);
    margin-right: 2rem;
    box-shadow: 2px 2px 4px 0 var(--GrayishBlue);
}

.main-section .content button:last-of-type {
    border: 1.5px solid var(--White);
    background-color: var(--White);
    box-shadow: 2px 2px 4px 0 var(--GrayishBlue); 
}

.main-section .content button:first-of-type:hover {
    background-color:var(--White) ;
    color: var(--SoftBlue);
}

.main-section .content button:last-of-type:hover {
    border-color: #000;
}

.main-section .illustration {
    position: relative;
    margin-bottom: 5rem;
}

.main-section .illustration .illustration-bg-right {
    position: absolute;
    width: 90%;
    transform: translateX(25%);
    min-width: 300px;
    height:70%;
    border-radius: 0 0 0 35%;
    background-color: var(--SoftBlue);
    bottom: 0;
    right: 0;
    z-index: -1;
}

.main-section .illustration img {
    width: 100%
}

@media screen and (max-width: 858px) {
    .main-section .content h1 {
        font-size: 3.5rem;
    }
    
    .main-section .content p {
        font-size: 1.4rem;
        margin: 2.3rem 0;
        line-height: 2.4rem;
    }
    
    .main-section .content button {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .main-section {
        flex-direction: column-reverse;
        align-items: center;justify-content: center;
        padding: 2rem;
    }    

    .main-section .content {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .main-section .content h1 {
        width: 90%;
        font-size: 3rem;
    }

    .main-section .content p { 
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .main-section .content h1 {
        width: 90%;
        font-size: 2.4rem;
    } 

    .main-section .illustration .illustration-bg-right {
        position: absolute;
        min-width: 250px;
    }

}
